.product {
  position: relative;
  max-width: 286px;
  width: 100%;
  padding: 34px 37px 44px 28px;
  margin: 0 0 16px 0; }
  @media only screen and (max-width: 1199.98px) {
    .product:nth-child(odd) {
      margin-right: 16px; } }
  .product__action {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 5px;
    max-width: 129px;
    text-align: center;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(61, 58, 55, 0.2);
    padding: 10px 28px;
    border-radius: 4px;
    cursor: default;
    border: 1px solid #ff7a00;
    background-color: #ff7a00;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700; }
    @media only screen and (max-width: 991.98px) {
      .product__action {
        left: 9px; } }
    .product__action._sale {
      display: block; }
  .product__image {
    display: block;
    border-color: transparent;
    background-color: #fff;
    border: 0px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(61, 58, 55, 0.2);
    margin: 0 auto 20px;
    overflow: hidden;
    transition: all 0.4s ease; }
    @media only screen and (min-width: 767.98px) {
      .product__image:focus {
        outline: #ff7a00;
        box-shadow: 0 2px 10px 0 rgba(255, 122, 0, 0.7); }
      .product__image:active {
        box-shadow: 0 4px 10px 0 rgba(255, 122, 0, 0.7); } }
  .product__img {
    border-radius: 4px;
    -o-object-fit: cover;
    object-fit: cover;
    transition: all 0.4s ease;
    transform: scale(1); }
    @media only screen and (min-width: 767.98px) {
      .product__img:hover {
        transform: scale(1.1); } }
    .product__img._selected {
      position: absolute;
      z-index: 9;
      top: 0;
      left: 0;
      width: inherit;
      transform: scale(0.8);
      box-shadow: 0 2px 10px 0 rgba(61, 58, 55, 0.2);
      -webkit-animation: addClone 0.4s ease;
      animation: addClone 0.4s ease; }
  .product__description {
    margin: 0 0 15px 0; }
  .product__subtitle {
    line-height: 1;
    font-weight: 700; }
  .product__name, .product__amount {
    display: block; }
  .product__maden {
    display: block;
    margin: 0 0 7px 0; }
  .product__price {
    display: block;
    font-weight: 700;
    color: #ff7a00; }
  .product__choise {
    display: flex;
    justify-content: space-between; }
  .product__button--backet {
    position: relative;
    z-index: 5;
    text-align: center;
    align-items: center;
    max-width: 52px;
    width: 100%;
    min-height: 52px;
    font-weight: 400;
    font-size: 48px;
    line-height: 1;
    padding: 0; }
  .product._image, .product._list {
    flex: 0 0 100%;
    max-width: 530px;
    padding: 17px 0 0 32px; }
    @media only screen and (max-width: 479.98px) {
      .product._image, .product._list {
        flex-direction: column;
        align-items: flex-start;
        max-width: 280px;
        padding: 0; } }
    .product._image:not(:last-child), .product._list:not(:last-child) {
      margin-bottom: 16px; }
    @media only screen and (max-width: 479.98px) {
      .product._image .product__action, .product._list .product__action {
        position: static;
        max-width: 94px;
        font-size: 13px;
        padding: 4px 10px; } }
    .product._image .product__wrapper, .product._list .product__wrapper {
      max-width: 530px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      @media only screen and (max-width: 991.98px) {
        .product._image .product__wrapper, .product._list .product__wrapper {
          align-items: end; } }
    .product._image .product__content, .product._list .product__content {
      flex: 0 0 222px; }
      @media only screen and (max-width: 479.98px) {
        .product._image .product__content, .product._list .product__content {
          flex: 0 0 176px; } }
    .product._image .product__image, .product._list .product__image {
      flex: 0 0 182px;
      margin: 0; }
      @media only screen and (max-width: 479.98px) {
        .product._image .product__image, .product._list .product__image {
          flex: 0 0 104px;
          min-height: 94px; } }
    @media only screen and (max-width: 479.98px) {
      .product._image .product__inner, .product._list .product__inner {
        display: none; } }
    @media only screen and (max-width: 479.98px) {
      .product._image .product__button--shop,
      .product._image .product__button--backet, .product._list .product__button--shop,
      .product._list .product__button--backet {
        max-width: 130px;
        width: 100%;
        min-height: 44px;
        align-items: center;
        text-align: center;
        padding: 12px 14px; } }
    @media only screen and (max-width: 479.98px) {
      .product._image .product__button--backet, .product._list .product__button--backet {
        max-width: 44px;
        padding: 0; } }
  .product._image .product__inner {
    display: none; }

/*# sourceMappingURL=cart.css.map */
